body {

}

.body {
    padding: 30px 0;
}

.text-error {
    color: $red;
    font-style: italic;

    &:after {
        content:"\a";
        white-space: pre;
    }
}

.hidden-opacity {
    opacity:0;
}

.fade-out {
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 0;
}

.fade-in {
    -webkit-transition: opacity 2s; /* For Safari 3.1 to 6.0 */
    transition: opacity 2s;
    opacity: 1;
}