.parking-status {
    font-size: 18px;
    color: $gray-1;

    &.available {
        color: $black;
    }

    &.assigned {
        color: $green;
    }

    &.disabled {
        color: $gray-2;
    }
}