        <div class="footer">
            <div class="row">
                <div class="col-md-12">
                    <feedback-message></feedback-message>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center text-muted">© Copyright Jonathan Rodriguez - 2016</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>