<!DOCTYPE html>
<html lang="en">
<head>
    <title>MEAN - App integration</title>
    <link rel="shortcut icon" href="<%= baseUrl %>assets/img/favicon-16x16.png" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>assets/css/vendor.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="<%= baseUrl %>assets/css/styles.css">

    <script type="text/javascript" src="<%= baseUrl %>assets/js/vendor.js"></script>
    <script type="text/javascript" src="<%= baseUrl %>assets/js/app.js"></script>
</head>
<body ng-app="MeanApplication">
    <div class="container">
        <h2>MEAN</h2>

        <div class="row">
            <div class="col-md-12">
                <main-menu></main-menu>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <confirmation-message></confirmation-message>
            </div>
        </div>
