<div class="body" ng-controller="addParkingSlotCtrl">
    <div class="row">
        <h2>Add parking slot</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form name="addParking" ng-submit="addParkingSlotAction(addParking)" novalidate>
              <div class="form-group" ng-class="{'has-error': (addParking.parkingSlotCode.$dirty && addParking.parkingSlotCode.$invalid) }">
                <label for="parkingSlotCode">Parking slot Code</label>
                <input
                  type="text"
                  name="parkingSlotCode"
                  ng-model="parkingSlotCode"
                  class="form-control"
                  id="parkingSlotCode"
                  placeholder="slot code"
                  required
                  ng-minlength="1"
                  ng-maxlength="3"
                  ng-pattern="$root.onlyNumbersPattern"
                  >
                <error-field-notification field-to-validate="addParking.parkingSlotCode"></error-field-notification>
                <!-- <pre>{{ addParking.parkingSlotCode | json }}</pre> -->
              </div>
              <div class="form-group" ng-class="{'has-error': (addParking.campaign.$dirty && addParking.campaign.$invalid)}">
                <label for="campaign">Campaign</label>
                <select
                  name="campaign"
                  ng-model="campaign"
                  id="campaign"
                  class="form-control"
                  required>
                  <option value="Prodigious">Prodigious</option>
                </select>
                <error-field-notification field-to-validate="addParking.campaign"></error-field-notification>
                <!-- <pre>{{ addParking.campaign | json }}</pre> -->
              </div>
              <button type="submit" ng-disabled="addParking.$invalid" class="btn btn-success">Add Parking Slot</button>
            </form>
        </div>
    </div>
</div>