<!-- <%= JSON.stringify(slotData) %> -->
<div class="body" ng-controller="editParkingSlotCtrl">
    <div class="row">
        <h2>Edit parking slot</h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <form name="addParking" ng-submit="editParkingSlotAction(addParking)" novalidate>
              <input
                type="hidden"
                ng-model="slotIdentifier"
                ng-init="slotIdentifier = '<%= slotData._id %>'">
              </input>

              <div class="form-group" ng-class="{'has-error': (addParking.parkingSlotCode.$dirty && addParking.parkingSlotCode.$invalid) }">
                <label for="parkingSlotCode">Parking slot Code</label>
                <input
                  type="text"
                  name="parkingSlotCode"
                  ng-model="parkingSlotCode"
                  class="form-control"
                  id="parkingSlotCode"
                  placeholder="slot code"
                  required
                  ng-minlength="1"
                  ng-maxlength="3"
                  ng-pattern="$root.onlyNumbersPattern"
                  ng-init="parkingSlotCode = '<%= slotData.code %>'"
                  >
                <error-field-notification field-to-validate="addParking.parkingSlotCode"></error-field-notification>
                <!-- <pre>{{ addParking.parkingSlotCode | json }}</pre> -->
              </div>

              <div class="form-group" ng-class="{'has-error': (addParking.campaign.$dirty && addParking.campaign.$invalid)}">
                <label for="campaign">Campaign</label>
                <select
                  name="campaign"
                  ng-model="campaign"
                  id="campaign"
                  class="form-control"
                  required
                  ng-init="campaign = '<%= slotData.campaign %>'">
                    <option value="Prodigious">Prodigious</option>
                </select>
                <error-field-notification field-to-validate="addParking.campaign"></error-field-notification>
                <!-- <pre>{{ addParking.campaign | json }}</pre> -->
              </div>

              <div class="form-group" ng-class="{'has-error': (addParking.slockStatus.$dirty && addParking.slockStatus.$invalid)}">
                <label for="slockStatus">Slot Status</label>
                <select
                  name="slockStatus"
                  ng-model="slockStatus"
                  id="slockStatus"
                  class="form-control"
                  required
                  ng-init="slockStatus = '<%= slotData.status %>'">
                    <option value="available">Available</option>
                    <option value="assigned">Assigned</option>
                    <option value="disabled">Disabled</option>
                </select>
                <error-field-notification field-to-validate="addParking.slockStatus"></error-field-notification>
                <!-- <pre>{{ addParking.slockStatus | json }}</pre> -->
              </div>
              <button type="submit" ng-disabled="addParking.$invalid" class="btn btn-success">Edit Parking Slot</button>
            </form>
        </div>
    </div>
</div>