<div
    class="hidden-opacity alert alert-{{ $root.confirmationMessage.type }}"
    role="alert"
    ng-class="{'fade-out': !$root.confirmationMessage.animation, 'fade-in' : $root.confirmationMessage.animation}">
    <div class="row">
        <div class="col-md-10">
            <span ng-bind-html="$root.confirmationMessage.message | unsafe"></span>
        </div>
        <div class="col-md-2">
            <a class="btn btn-success fa fa-check pull-right" href="#" role="button" ng-click="confirmAction()"></a>
            <a class="btn btn-danger fa fa-close pull-right" href="#" role="button" ng-click="cancelAction()"></a>
        </div>
    </div>
</div>