<span class="text-error" ng-show="fieldToValidate.$touched && fieldToValidate.$error.required">This field cannot be empty!</span>
<span class="text-error" ng-show="(fieldToValidate.$error.minlength || fieldToValidate.$error.maxlength)">This field must be between 1 and 3 characteres</span>
<span class="text-error" ng-show="fieldToValidate.$error.pattern">This field only accept numbers!</span>