<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Brand</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="mainMenuSection">
            <ul class="nav navbar-nav">
                <li ng-class="{ active : menuItem.listSlots }"><a href="/">List Of Parking Slots</a></li>
                <li ng-class="{ active : menuItem.addParkingSlot }"><a href="/add-parking-slot">Add parking slot</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>