.body {
  padding: 30px 0; }

.text-error {
  color: #DB3526;
  font-style: italic; }
  .text-error:after {
    content: "\a";
    white-space: pre; }

.hidden-opacity {
  opacity: 0; }

.fade-out {
  -webkit-transition: opacity 2s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 2s;
  opacity: 0; }

.fade-in {
  -webkit-transition: opacity 2s;
  /* For Safari 3.1 to 6.0 */
  transition: opacity 2s;
  opacity: 1; }

.parking-status {
  font-size: 18px;
  color: #696969; }
  .parking-status.available {
    color: #000000; }
  .parking-status.assigned {
    color: #2E954C; }
  .parking-status.disabled {
    color: #DBDBDB; }
