<div class="body" ng-controller="parkingSlotsListCtrl">
    <div class="row">
        <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores ut dolorem vel dolore, odit qui sequi itaque distinctio, blanditiis at, explicabo fugit ex? Provident eveniet, ipsum! Architecto incidunt atque, vitae.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>Parking Code</th>
                        <th>Campaign</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% _.each(slotsData, function(slot, index){ %>
                        <tr>
                            <td><%= slot.code %></td>
                            <td><%= slot.campaign %></td>
                            <td>
                                <status-icon status="<%= slot.status %>"></status-icon>
                            </td>
                            <td>
                                <a class="btn btn-info fa fa-pencil" href="/edit-parking-slot/<%= slot._id %>" role="button"></a>
                                <a class="btn btn-danger fa fa-trash" href="#" role="button" ng-click="verifyRemoveAction('<%= slot._id %>', '<%= slot.code %>')"></a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>